{% extends  'base_profil.html.twig'%}

{% block main %}
    <div class="img_main">
        {% for profil in profils %}
            <div class="image_home">
                <img src="{{ profil.image }}" alt="">
                <h2>{{ profil.name }}</h2>
            </div>
        {% endfor %}
    </div>
{% endblock %}




{% block footer %}
{% endblock %}